@using Website.Models

@model DetailModel
@{
    Layout = null;
}


@functions 
{
    public string GetClassName(Sentiment sentiment)
    {
        switch (sentiment)
        {
            case Sentiment.Positive:
                return "table-success";
            case Sentiment.Negative:
                return "table-danger";
            case Sentiment.Neutral:
            default:
                return "table-secondary";

        }
    }
} 


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tijd</th>
                <th scope="col">Bericht</th>
                <th scope="col">Sentiment</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Tweets)
            {
                <tr class="@GetClassName(item.Sentiment)">
                    <th scope="row" width="130"><p>@item.Timestamp.ToString("dd-MM-yyyy HH:mm")</p></th>
                    <td><p class="">@item.Message</p></td>
                    <td><p class="">@item.Sentiment.ToString()</p></td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>ERROR</p>
}