[Oo]bj/
bin/
src/**/[Bb]in/
specs/**/[Bb]in/


.nuget/
.idea/
.axoCover/
TestResults/
_ReSharper.*
packages/
sandbox/
artifacts/
TestResults/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
*.vsext.disable
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
Onvz.sln.vsext.disable
.axoCover/*
*.vsext
UpgradeLog*.htm


/tools

