[Oo]bj/
[Bb]in/
/src/**/[Bb]in/
/src/**/[Oo]bj/



.suo
.vs

.nuget/
.idea/
.axoCover/
TestResults/
_ReSharper.*
packages/
sandbox/
artifacts/
TestResults/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
*.vsext.disable
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*
.axoCover/*
*.vsext
UpgradeLog*.htm


/tools

