@{
    ViewBag.Title = "Over ons";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    <ul>
        <li>Thomas Bardoel</li>
        <li>Remco Verheijen</li>
        <li>Marnix de Vrije</li>
        <li>Tom Neij</li>
    </ul>

</p>