@{
    ViewBag.Title = "Over ons";
}


<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">Het project team!</p>
</div>

<div class="row">

    <div class="col-md-12">
        <p>
            <ul>
                <li>Thomas Bardoel</li>
                <li>Remco Verheijen</li>
                <li>Marnix de Vrije</li>
                <li>Tom Neij</li>
            </ul>

        </p>
    </div>
</div>