@{
    ViewBag.Title = "Whats next?";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">De toekomst</p>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Hoe zouden we deze innovatie kunnen toepassen en/of uitbreiden. Daar hebben we als project team wel een idee over.

            <ul>
                <li>Optimaliseren Sentiment (+ mogelijkheid bestaande sentiment aan te passen).</li>
                <li>Range datum filter.</li>
                <li>Nieuwe kanalen koppelen zoals linkedin.</li>
                <li>Performance verbetering dmv Caching.</li>
                <li>Slimmer Tweets ophalen.</li>
                <li>Zoekopdracht uitbreiden en beheren.</li>
                <li>Integratie met Sitecore xConnect.</li>
            </ul>
        </p>
    </div>
</div>