@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Onvz Sentiment Calculator</h1>
    <p class="lead">Hier is het sentiment over Onvz te vinden</p>
</div>

<div class="row">

    <div class="col-md-12">

        @{
            Html.RenderAction("Overview", "Sentiment");
        }
    </div>
</div>
